@model IEnumerable<Food_Web.Models.Product>
@*@model PagedList.IPagedList<Food_Web.Models.CartItem>
    @using PagedList.Mvc*@
@using System.Resources

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}


<!-- Main-Slider -->
<div class="default-height ph-item">
    <div class="slider-main owl-carousel">
        <div class="bg-image one" style="background-image: url('../../content/bank2.jpg');">
            <div class="slide-content slide-animation">
                <h1>Món Ngon Mỗi Ngày</h1>
                @*<h2>lifestyle / clothing / hype</h2>*@
            </div>
        </div>
        <div class="bg-image two" style="background-image: url('../../Content/bank2.jpg');">
            <div class="slide-content-2 slide-animation">
                <h2 class="slide-2-h2-a">Hôm Nay</h2>
                <h2 class="slide-2-h2-b">Có Gì</h2>
            </div>
        </div>

        <div class="bg-image three" style="background-image: url('../../Content/bank1.jpg');">
            <div class="slide-content slide-animation">
                <h1>
                    Tech
                    <span style="color:#333">Siêu</span>
                </h1>
                <h2 style="color:#333">Hời</h2>
            </div>
        </div>
    </div>
</div>


<section class="section-maker">
    <div class="container">
        <div class="sec-maker-header text-center">
            <h3 class="sec-maker-h3">@Resources.RS_HC</h3>
            <ul class="nav tab-nav-style-1-a justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#men-latest-products" id="btnAllProducts">@Resources.RS_New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#men-best-selling-products" id="btnBestSell">@Resources.RS__Deals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#men-top-rating-products" id="btnhot">

                        @Resources.RS__Exclusive
                    </a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#men-featured-products">Featured Products</a>
                    </li>*@
            </ul>
        </div>
        <div class="wrapper-content">
            <div class="tab-pane fade active show" id="men-latest-products">
                <div>@Html.Action("Index", "Home")</div>
            </div>
            <div class="tab-pane fade" id="men-best-selling-products">
                <div>@Html.Action("bestsell", "Home")</div>
            </div>
            <div class="tab-pane fade" id="men-top-rating-products">
                <div>@Html.Action("hot", "Home")</div>
            </div>
        </div>
    </div>

</section>


<section class="section-maker" >
    <div class="container">
        <div class="sec-maker-header text-center">
            <h3 class="sec-maker-h3 u-s-m-b-22" style="color: red;">Hot Deals</h3>
            <div class="section-timing-wrapper dynamic">
                <div class="section-box-wrapper box-days">
                    <div class="section-box">
                        <span class="section-key" id="days" style="color: red;">0</span>
                        <span class="section-value">Days</span>
                    </div>
                </div>
                <div class="section-box-wrapper box-hrs">
                    <div class="section-box">
                        <span class="section-key" id="hours" style="color: red;">0</span>
                        <span class="section-value">HRS</span>
                    </div>
                </div>
                <div class="section-box-wrapper box-mins">
                    <div class="section-box">
                        <span class="section-key" id="minutes" style="color: red;">0</span>
                        <span class="section-value">MINS</span>
                    </div>
                </div>
                <div class="section-box-wrapper box-secs">
                    <div class="section-box">
                        <span class="section-key" id="seconds" style="color: red;">0</span>
                        <span class="section-value">SEC</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-fouc">
            <div class="products-slider owl-carousel" data-item="4">
                @Html.Action("Showgiamgia", "Product")
            </div>
        </div>
    </div>
</section>

<div class="page-deal u-s-p-t-80">
    <div class="container">
        <div class="deal-page-wrapper">
            <h1 class="deal-heading" style="font-size: 20px; color: rgb(255, 127, 0); margin-top: 30px; margin-bottom: 10px; ">Gợi ý Hôm Nay</h1>

        </div>
        <!-- Page-Bar -->
        <div class="page-bar clearfix">

        </div>
        <!-- Page-Bar /- -->
        <!-- Row-of-Product-Container -->
        <div class="row product-container grid-style">
            @foreach (var item in Model)
            {
                <div class="product-item col-lg-3 col-md-6 col-sm-6">
                    <div class="item">
                        <div class="image-container">
                            <a class="item-img-wrapper-link" href="single-product.html">

                                <img class="img-fluid product-image" src="~/Content/products/@item.image" @*style="width: 230px;"*@>
                            </a>
                            <div class="item-action-behaviors">
                                <a class="item-quick-look" data-toggle="modal" href="#quick-view">Quick Look</a>
                                <a class="item-mail" href="javascript:void(0)">Mail</a>
                                <a class="item-addwishlist" href="javascript:void(0)">Add to Wishlist</a>
                                <a class="item-addCart" href="javascript:void(0)">Add to Cart</a>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="what-product-is">
                                <ul class="bread-crumb">
                                    <li class="has-separator">
                                        <a href="shop-v1-root-category.html">Men's</a>
                                    </li>
                                    <li class="has-separator">
                                        <a href="shop-v2-sub-category.html">Tops</a>
                                    </li>
                                    <li>
                                        <a href="shop-v3-sub-sub-category.html">Hoodies</a>
                                    </li>
                                </ul>
                                <h6 class="item-title">
                                    <a href="single-product.html">@item.Productname</a>
                                </h6>
                                <div class="item-description">
                                    <p>
                                        This hoodie is full cotton. It includes a muff sewn onto the lower front, and (usually) a drawstring to adjust the hood opening. Throughout the U.S., it is common for middle-school, high-school, and college students to wear this sweatshirts—with or without hoods—that display their respective school names or mascots across the chest, either as part of a uniform or personal preference.
                                    </p>
                                </div>
                                <div class="item-stars">
                                    <div class='star' title="4.5 out of 5 - based on 23 Reviews">
                                        <span style='width:67px'></span>
                                    </div>
                                    <span>(23)</span>
                                </div>
                            </div>
                            <div class="price-template">
                                <a href="~/Views/Home/ShowCommentproduct.cshtml">~/Views/Home/ShowCommentproduct.cshtml</a>
                                <div class="item-new-price">
                                    $55.00
                                </div>
                                <div class="item-old-price">
                                    $60.00
                                </div>
                            </div>
                        </div>
                        <div class="tag new">
                            <span>NEW</span>
                        </div>
                    </div>
                </div>
            }

        </div>

        <<div class="button">
            <div class="select-box-wrapper">
                <label class="sr-only" for="show-records">Xem Thêm</label>
                <a href="https://localhost:44346/Product/Sphomnay">
                    <button id="show-records">Xem Thêm</button>
                </a>
            </div>
        </div>

    </div>
</div>
<style>
    .product-image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Choose "cover", "contain", "fill", or "scale-down" based on your preference */
    }
    a.item-img-wrapper-link {
        height: 198px;
        width: 270px;
    }
    /* Ẩn tất cả các tab-pane */
    .tab-pane {
        display: none;
    }

        /* Hiển thị tab-pane active */
        .tab-pane.active {
            display: block;
        }

    button#show-records {
        width: 435PX;
        height: 50px;
        font-size: 18px;
        margin-left: 329px;
        background: white;
        border: 1px solid #B0A9A2;
        transition: background-color 0.3s;
    }

        button#show-records:hover {
            background: #B0A9A2; /* Màu xám khói khi hover */
        }

    .deal-page-wrapper {
        background-color: #FFFFF0;
        /* width: 158px; */
        height: 95px;
        margin: 0px;
        /* font-size: 35px; */
        border: 1px 0px 1px 0px #FFFFF0;
        border: 1px solid;
    }
</style>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@section scripts{
    <script>
        function updateCountdown() {
            var hoursElement = document.getElementById("hours");
            var minutesElement = document.getElementById("minutes");
            var secondsElement = document.getElementById("seconds");

            function update() {
                var now = new Date();
                var endOfDay = new Date(now);
                endOfDay.setHours(24, 0, 0, 0); // Set thời gian cuối ngày là 24:00:00

                var timeRemaining = endOfDay - now;
                var hours = Math.floor(timeRemaining / (1000 * 60 * 60));
                var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

                hoursElement.textContent = hours;
                minutesElement.textContent = minutes;
                secondsElement.textContent = seconds;
            }

            update();
            setInterval(update, 1000); // Cập nhật thời gian mỗi giây
        }

        updateCountdown();


        $(document).ready(function () { });
        $(".menu-tab-wp li").click(function () {
            var categoryID = $(this).attr("data-filter");
            $.ajax({
                url: '/Product/GetProductByCategory',
                type: "GET",
                data: { "categoryid": categoryID },
                success: function (result) {
                    $('.menu-list-row').html(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        });

        $(".menu-tab-wp li").click(function () {
            var categoryID = $(this).attr("data-filter");
            $.ajax({
                url: '/Product/GetProductByCategory',
                type: "GET",
                data: { "categoryid": categoryID },
                success: function (result) {
                    $('.menu-list-row').html(result);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        });

        var i = 0;
        $(document).on('click', '.dish-add-btn', function () {
            var ProductID = $(this).data("id");
            //alert(ProductID);
            $.ajax({
                url: '/ShoppingCart/AddToCart',
                type: 'POST',
                data: { "id": ProductID },
                success: function (result) {
                    console.log('main' + i++);
                    swal({
                        title: "Good job!",
                        text: "You clicked the button!",
                        icon: "success",
                    });
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        });

        $('.item-addwishlist').click(function () {
            alert('them thanh cong');
            var productId = $(this).data("id");/*$(this).closest('.dish-box-wp').find('.dish-add-btn').data('id');*/
            $.ajax({
                url: '/Heart/AddToHeart',
                method: 'POST',
                data: { id: productId },
                success: function (response) {
                    // xử lý phản hồi từ máy chủ, chẳng hạn như cập nhật số lượng mục ưa thích
                    $('#favorite-count').text(response.favoriteCount);
                    swal({
                        title: "Good job!",
                        text: "You clicked the button!",
                        icon: "success",
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // xử lý lỗi, nếu có
                    console.log('Lỗi khi thêm vào mục ưa thích:', errorThrown);
                }
            });
        });

        // Lắng nghe sự kiện khi click vào tab
        document.addEventListener('DOMContentLoaded', function () {
            var tabs = document.querySelectorAll('.nav-link');

            for (var i = 0; i < tabs.length; i++) {
                tabs[i].addEventListener('click', function (event) {
                    event.preventDefault();

                    var targetTab = event.target.getAttribute('href');

                    // Ẩn tất cả các tab-pane
                    var tabPanes = document.querySelectorAll('.tab-pane');
                    for (var j = 0; j < tabPanes.length; j++) {
                        tabPanes[j].classList.remove('active');
                    }

                    // Hiển thị tab-pane được chọn
                    document.querySelector(targetTab).classList.add('active');
                });
            }
        });

        var i = 0;
        $(document).on('click', '.item-addCart', function () {
            alert("ocke");
            var ProductID = $(this).data("id");
            //alert(ProductID);
            $.ajax({
                url: '/ShoppingCart/AddToCart',
                type: 'POST',
                data: { "id": ProductID },
                success: function (result) {
                    console.log('main' + i++);
                    swal({
                        title: "Good job!",
                        text: "You clicked the button!",
                        icon: "success",
                    });
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        });


    </script>
}
